{% extends 'blog/base.html' %}
{% block content %}
    <style>

    </style>
            <h1 class="text-center text-primary mb-5">Welcome to Python Family</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text-primary">
                    About Python
                </h2>
                <div class="bg-danger">
                    <p>1. Python is simple language</p>
                    <p>2. Python is powerful language</p>
                    <p>3. Python is high level language</p>
                </div>
            </div><!-- first col-md-6-->
            <div class="col-md-6">
                <h2 class="text-center text-primary">About Django</h2>
                <div class="bg-danger">
                    <p>1. Django is Python's web framework</p>
                    <p>2. Django is scalable</p>
                    <p>3. Django is versatile</p>
                </div>
            </div><!-- second col-md-6 -->
        </div><!-- first row -->
        <div class="row">
            <div class="col-md-10 ml-5">
                <h2 class="text-center text-primary">About REST API</h2>
                <div class="bg-danger">
                    <p>1. REST API is advance concept to Django.</p>
                    <p>2. REST API has more demand now a day's.</p>
                    <p>3. without REST API Django application is like Handicapped.</p>
                </div>
            </div>
        </div><!-- second row-->
    </div>
{% endblock %}